* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
}

.logo {
  width: 125px;
  margin: 8px;
}

.navbar ul {
  display: flex;
  /* default justify-content of left */

  flex: 1 1 auto; /* only part that grows, the rest has default flex-grow zero */
}

.navbar > ul li,
.navbar > ul nav {
  margin: 0.5rem;
}

.navbar a:hover {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.burger-icon {
  display: none;
  width: 20px;
  cursor: pointer;
}

.burger-icon div {
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 2px 0;
}

.close-icon {
  margin: 2px 0.5rem !important;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Side drawer */
.side-drawer {
  background-color: #f2f2f2;
  width: 100%;
  position: absolute;
  top: 43;
  left: 0;
  z-index: 10;
}

.hidden {
  display: none !important;
}

.side-drawer li {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

/* Showcase / content */
.showcase {
  position: relative;
  background: #e7e7e7 url("https://i.ibb.co/zGSDGCL/slide1.png") no-repeat
    center center/contain;
  /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  height: 400px;
  text-align: center;
  margin-bottom: 1rem;
}

.showcase-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 2rem;
}

.showcase-text > p {
  margin: 0 0 1rem;
}

.content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 1rem;
}

.card > img {
  width: 100%;
}

.card > h2 {
  margin-top: 1rem;
}

.card > p {
  margin: 0.5rem 0 0.7rem;
}

.horizontal {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background: #f8f8f8 url("https://i.ibb.co/tBJGPD9/xbox.png") right
    center/contain no-repeat;
  position: relative;
}

.xbox-text {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 30%;
}

.xbox-text p {
  margin: 1rem 0;
}

.horizontal2 {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  background: url("https://i.ibb.co/72cgtsz/carbon.jpg") center center/contain
    no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.carbon-text {
  position: absolute;
  top: 50%;
  left: 40px;
  width: 50%;
  color: white;
  transform: translateY(-50%);
}

.carbon-text p {
  margin: 1.5rem 0;
}

.socials {
  margin: 2em 0;
}

.socials > p {
  display: inline;
}

.socials > a {
  vertical-align: middle;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 1.5rem 1rem;
}

.links {
  width: 75%;
  margin: auto;
}

.links h3 {
  color: #616161;
}

.links a {
  font-size: 0.75rem;
}

.links-upper {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem 3rem;
}

.links-upper li {
  margin: 1rem 0;
}

.links-lower {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 0;
}

.links-lower > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.links-lower li:last-child {
  font-size: 0.75rem;
}

.links-lower a {
  margin-right: 1rem;
}

@media (max-width: 982px) {
  .content {
    grid-template-rows: repeat(3, 1fr) 50px repeat(3, 1fr) 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  .horizontal {
    grid-row: 3 / 5;
    grid-column: 1 / -1;
    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
    background: #f8f8f8 url("https://i.ibb.co/tBJGPD9/xbox.png") right
      center/contain no-repeat;
    background-size: auto 50%;
  }

  .xbox-text {
    top: 15%;
  }

  .xbox-text p {
    margin: 1rem 0 2rem;
  }

  .horizontal2 {
    grid-row: 7 / 9;
    grid-column: 1 / -1;
    background: url("https://i.ibb.co/72cgtsz/carbon.jpg") center center/cover
      no-repeat;
  }

  .carbon-text {
    top: 60%;
  }

  .links-upper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 660px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar .links {
    display: none;
  }

  .navbar .icons {
    flex: 0;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
  }

  .content {
    grid-template-rows: repeat(5, 2fr) 1fr repeat(5, 2fr) 1fr;
    grid-template-columns: 100%;
    grid-row-gap: 1rem;
  }

  .horizontal {
    grid-row: 5 / 7;
    grid-column: 1 / -1;
    background: #f8f8f8 url("https://i.ibb.co/tBJGPD9/xbox.png") right top/cover
      no-repeat;
    background-size: auto 50%;
  }

  .xbox-text {
    top: 55%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .horizontal2 {
    grid-row: 11 / 13;
    grid-column: 1 / -1;
    background-size: auto 80%;
  }

  .carbon-text {
    top: 30%;
    width: 80%;
    transform: translateY(0);
  }

  .links-upper {
    grid-template-columns: 1fr;
  }
}

/* Button utility */
button {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover p {
  padding-bottom: 2px;
  border-bottom: 2px solid;
}

button:hover i {
  transform: translateX(5px);
}

.btn-black {
  background-color: #000;
  color: #fff;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
}

.btn-blue {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  color: #0067b8;
}

.btn-white {
  background-color: #fff;
  color: #000;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
}

.btn-black:hover,
.btn-white:hover,
.socials > a:hover {
  opacity: 0.8;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

a > p {
  display: inline;
}
